h1 {
    line-height: 2em;
    text-align: center;
}

h1, h2 {
    border-bottom: 1px solid black;

    margin-bottom: 1rem;
}

h2 {
    padding-bottom: 2rem;
}

h3 {
    line-height: 3em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 2rem;
    max-width: 400px;
}

table {
    max-width: 700px;
    margin: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

li {
    max-width: 700px;
}

.esconder {
    display: none;
}