.nav-item .nav-link .nav-image {
    height: 30px;
    width: 30px;
}

h1 {
    text-align: center;
    line-height: 3em;
}

textarea {
    resize: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form>*:not(input[type="submit"]) {
    margin: 20px 0;
}

main form>input[type="submit"], main form>input[type="button"] {
    margin-bottom: 30px;
}

.comentarios {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: clamp(100px, 80%, 800px);
    margin: 20px;
}

.card-title, .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mainPostagemCompleta .card .card-title,
#mainPostagemCompleta .card .card-text {
    white-space: break-spaces;
    overflow: visible;
    
}